body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

/* CSS VARIABLES */
:root {
  --primary: #fd3;
  --secondary: #7fccd2;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --lightgray: #eee;
  --mediumgray: #e5e5e5;
}

.primary {
  color: var(--primary);
}

.light {
  color: var(--light);
}

.secondary {
  color: var(--secondary);
}

.dark {
  color: var(--dark);
}

.light {
  color: var(--light);
}

.lightgray {
  color: var(--lightgray);
}

.mediumgray {
  color: var(--mediumgray);
}