
footer {
  background-color: var(--dark);
  text-align: center;
  width: 100%;
}

.footer-text {
  color: var(--light);
  padding: 1em;
}

footer ul {
  text-align: center;
}

footer li {
  display: inline-block;
  vertical-align: middle;
}